<div class="container" style="color:white;background-color:black">
  <div class="row">
    <div class="col-md-3">
      <h3>Contact</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsam, maxime, harum quae nihil
        necessitatibus perspiciatis quam praesentium optio id animi blanditiis fugit et earum, eum aut voluptates
        laudantium ad.</p>
    </div>
    <div class="col-md-3">
      <h3>Liens utiles</h3>
      <hr>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque illo fuga quod. Id possimus exercitationem
        harum facere magni ipsum maiores optio sit neque natus veniam, molestias minus. Iure, dolores accusamus?</p>
    </div>
    <div class="col-md-3">
      <h3>Liens rapides</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsam, maxime, harum quae nihil
        necessitatibus perspiciatis quam praesentium optio id animi blanditiis fugit et earum, eum aut voluptates
        laudantium ad.</p>
    </div>
    <div class="col-md-3">
      <h3>Newsletter</h3>
      <hr>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque illo fuga quod. Id possimus exercitationem
        harum facere magni ipsum maiores optio sit neque natus veniam, molestias minus. Iure, dolores accusamus?</p>
    </div>
  </div>
</div>