<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let car of listeCar;let i=index" [ngClass]="i == 0 ? 'active' : ''">
                        <a class="lien" (click)="lireActu(car.ID_actu)">
                            <img src="{{car.adr_img}}" class="d-block w-100" alt="image">
                            <div class="carousel-caption"><h3 class="txtborder">{{car.titre}}</h3></div>
                        </a>
                        
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <div class="row row-cols-2 gy-3">
                <div class="col card text-white noborder depasspa" *ngFor="let pan of listePan">
                    <a class="text-reset lien" (click)="lireActu(pan.ID_actu)">
                        <img src="{{pan.adr_img}}" class="img-fluid" alt="image">
                        <div class="card-img-overlay text-center text-wrap">
                            <p class="card-text txtborder">{{pan.titre}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Politique</h2>
            <hr>
            <div class="row">
                <div class="col-md-6 card text-white noborder" *ngFor="let pol of listePol">
                    <a class="text-reset lien" (click)="lireActu(pol.ID_actu)">
                        <img src="{{pol.adr_img}}" class="img-fluid card-img" alt="image">
                        <div class="card-img-overlay text-center">
                            <p class="card-text txtborder">{{pol.titre}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>International</h2>
            <hr>
            <div class="row">
                <div class="col-md-6 card text-white noborder" *ngFor="let int of listeInt">
                    <a class="text-reset lien" (click)="lireActu(int.ID_actu)">
                        <img src="{{int.adr_img}}" class="img-fluid card-img" alt="image">
                        <div class="card-img-overlay text-center">
                            <p class="card-text txtborder">{{int.titre}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <h2>Société</h2>
            <hr>
            <div class="row">
                <div class="col-md-6 card text-white noborder" *ngFor="let soc of listeSoc">
                    <a class="text-reset lien" (click)="lireActu(soc.ID_actu)">
                        <img src="{{soc.adr_img}}" class="img-fluid card-img" alt="image">
                        <div class="card-img-overlay text-center">
                            <p class="card-text txtborder">{{soc.titre}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Culture</h2>
            <hr>
            <div class="row">
                <div class="col-md-6 card text-white noborder" *ngFor="let cul of listeCul">
                    <a class="text-reset lien" (click)="lireActu(cul.ID_actu)">
                        <img src="{{cul.adr_img}}" class="img-fluid card-img" alt="image">
                        <div class="card-img-overlay text-center">
                            <p class="card-text txtborder">{{cul.titre}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<br><br><br>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h3 style="color:red;background-color:black" class="text-center">Fil d'actualités</h3>
            <div class="card mb-3" *ngFor="let fil of listeFil">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{fil.adr_img}}" class="img-fluid lien" alt="image" (click)="lireActu(fil.ID_actu)">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{fil.titre}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3 style="color:red;background-color:black" class="text-center">Articles les plus lus</h3>
            <div class="card mb-3" *ngFor="let lus of listeLus">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{lus.adr_img}}" class="img-fluid lien" alt="image" (click)="lireActu(lus.ID_actu)">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{lus.titre}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br>

<app-footer></app-footer>