<div class="container-fluid" style="background-color:black">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#" style="color:red">A propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color:red">Confidentialité</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color:red">Charte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color:red">Créer un compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="color:red">Se connecter</a>
    </li>
  </ul>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      LOGO
    </div>
    <div class="col-md-7">
      La vérité Vraie
    </div>
    <div class="col-md-3">
      <form class="d-inline-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br>

<nav class="navbar navbar-expand-sm sticky-top bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li><a class="nav-link item" routerLink="home">Accueil</a></li>
        <li><a class="nav-link item" routerLink="categorie/Politique">Politique</a></li>
        <li><a class="nav-link item" routerLink="categorie/International">International</a></li>
        <li><a class="nav-link item" routerLink="categorie/Société">Société</a></li>
        <li><a class="nav-link item" routerLink="categorie/Culture">Culture</a></li>
        <li><a class="nav-link item" routerLink="">Nous contacter</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>