<div class="container-fluid bg-blk">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link col-red">A propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link col-red">Confidentialité</a>
    </li>
    <li class="nav-item">
      <a class="nav-link col-red">Charte</a>
    </li>
    <li class="nav-item" *ngIf=!isConnected()>
      <a class="nav-link col-red">Créer un compte</a>
    </li>
    <li class="nav-item" *ngIf=!isConnected()>
      <a class="nav-link col-red" routerLink="auth">Se connecter</a>
    </li>
    <li class="nav-item" *ngIf=isConnected()>
      <a class="nav-link col-red lien">Bonjour Machin</a>
    </li>
    <li class="nav-item" *ngIf=isConnected()>
      <a class="nav-link col-red lien" (click)="logout()">Se déconnecter</a>
    </li>

  </ul>
</div>
<br>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-2">
      <img src="assets/img/newslogo.png" class="img-fluid" alt="image">
    </div>
    <div class="col-md-7">
      <img src="assets/img/newstitre.png" class="img-fluid" alt="image">
    </div>
    <div class="col-md-3">
      <form class="d-inline-flex" #rechForm=ngForm (ngSubmit)="recherche()">
        <input class="form-control me-2" name="mot" type="texte" id="mot" placeholder="Recherche sur un mot clé" aria-label="Search" [(ngModel)]="motcle" #mot="ngModel">
        <button class="btn btn-outline-danger btn-sm" type="submit">
          <img src="assets/img/search.svg" alt="search-icon" >
        </button>
      </form>
    </div>
  </div>
</div>
<br>

<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav fs-4">
        <li><a class="nav-link item" routerLink="home">Accueil</a></li>
        <li><a class="nav-link item" routerLink="categorie/Politique">Politique</a></li>
        <li><a class="nav-link item" routerLink="categorie/International">International</a></li>
        <li><a class="nav-link item" routerLink="categorie/Société">Société</a></li>
        <li><a class="nav-link item" routerLink="categorie/Culture">Culture</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>